<ng-container *ngIf="users!.length > 0">
  <app-logout></app-logout>
  <h3 class="d-flex justify-content-center mb-0">USERS</h3>
  <app-user-toolbar></app-user-toolbar>
  <table class="table table-secondary table-striped">
    <thead>
      <tr>
        <th scope="col">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="isAllSelected"
            (change)="selectAll($any($event.target).checked)">
        </th>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Registration</th>
        <th scope="col">Last Login</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <th scope="row">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="isAllSelected"
            (change)="selectUser(user.id, $any($event.target)?.checked)">
        </th>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.registrationDate | date:'dd MMM yyyy HH:mm'}}</td>
        <td>{{user.lastLoginDate | date:'dd MMM yyyy HH:mm'}}</td>
        <td>{{user.status}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
