<ng-container *ngIf="users">

<table class="table table-secondary table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Registration Date</th>
      <th scope="col">Delete Date</th>
      <th scope="col">Dtatus</th>
      <th scope="col">CreatedAt</th>
      <th scope="col">UpdatedAt</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.registrationDate | date:'dd MMM yyyy HH:mm'}}</td>
      <td>{{user.deleteDate | date:'dd MMM yyyy HH:mm'}}</td>
      <td>{{user.status}}</td>
      <td>{{user.createdAt | date:'dd MMM yyyy HH:mm'}}</td>
      <td>{{user.updatedAt | date:'dd MMM yyyy HH:mm'}}</td>
    </tr>
  </tbody>
</table>
</ng-container>
